<header>
  <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="./">Cubjectives</a>
      </div>
      <div class="navbar-collapse collapse" id="header-navbar-collapse">
        <ul id="navbar-nav-left" class="nav navbar-nav navbar-left">
          <!-- <li><a href="#">List of charts</a></li> -->
          <li><a href="https://github.com/kotarot/cubjectives" target="_blank"><span class="fui-github"></span> Fork me on GitHub</a></li>
        </ul>
        <ul id="navbar-nav-right" class="nav navbar-nav navbar-right">
          <li><a href="/"><span class="fui-home"></span> Home of terabo.net</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
