<ul>
  <li>Cubes in <i>Rubik's Cube: Multiple Blindfolded</i> means difference <i>(# cubes solved - # cubes missed)</i>, so larger is better.</li>
  <li>The result is based on the simple mathematics: <i>Correlation</i> and <i>regression line</i> (calculated by <i>method of least squares</i>).</li>
  <li>The source codes are available at <a href="https://github.com/kotarot/cubjectives" target="_blank">GitHub repository</a>.
      If you get interested in this system and have ever touched Web technologies (especially <i>Python</i>, <i>MySQL</i>, <i>HTML</i>, <i>javascript</i>, ...),
      feel free to <b>fork it</b>, <b>modify it</b> as you like, and <b>send pull requests</b> to me.</li>
  <li>Details of the system are described in my <a href="#">Japanese blog article</a> (will be updated soon).</li>
  <li>Since I have not tried any tests on IE, use a modern web-browser such as Firefox, Google Chrome, and Safari.</li>
</ul>
